body {
    background-color: #FFE8D6;
}

h1 {
    text-decoration: underline;
}

h3 {
    margin-top: 20px;
}

#profile {
    float: right;
}

#profile h3 {
    margin-top: 0;
}

ul p {
    margin-bottom: 0;
}

table th {
    text-align: left;
    padding-right: 20px;
}

table {
    border: 1px solid black;
}

table td {
    margin: 0;
    border: 1px solid black;
}
